@font-face {
  font-family: freight-sans;
  src: url(/fonts/FreightSans/FreightSans-BlackItalic.woff2);
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans;
  src: url(/fonts/FreightSans/FreightSans-Black.woff2);
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans;
  src: url(/fonts/FreightSans/FreightSans-BoldItalic.woff2);
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans;
  src: url(/fonts/FreightSans/FreightSans-Bold.woff2);
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans;
  src: url(/fonts/FreightSans/FreightSans-BookItalic.woff2);
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans;
  src: url(/fonts/FreightSans/FreightSans-Book.woff2);
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-compressed;
  src: url(/fonts/FreightSans/FreightSansComp-BlackItalic.woff2);
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-compressed;
  src: url(/fonts/FreightSans/FreightSansComp-Black.woff2);
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-compressed;
  src: url(/fonts/FreightSans/FreightSansComp-BoldItalic.woff2);
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-compressed;
  src: url(/fonts/FreightSans/FreightSansComp-Bold.woff2);
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-compressed;
  src: url(/fonts/FreightSans/FreightSansComp-BookItalic.woff2);
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-compressed;
  src: url(/fonts/FreightSans/FreightSansComp-Book.woff2);
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-compressed;
  src: url(/fonts/FreightSans/FreightSansComp-ExtraLightItalic.woff2);
  font-weight: 200;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-compressed;
  src: url(/fonts/FreightSans/FreightSansComp-Extralight.woff2);
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-compressed;
  src: url(/fonts/FreightSans/FreightSansComp-HairlineItalic.woff2);
  font-weight: 50;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-compressed;
  src: url(/fonts/FreightSans/FreightSansComp-Hairline.woff2);
  font-weight: 50;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-compressed;
  src: url(/fonts/FreightSans/FreightSansComp-LightItalic.woff2);
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-compressed;
  src: url(/fonts/FreightSans/FreightSansComp-Light.woff2);
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-compressed;
  src: url(/fonts/FreightSans/FreightSansComp-MediumItalic.woff2);
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-compressed;
  src: url(/fonts/FreightSans/FreightSansComp-Medium.woff2);
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-compressed;
  src: url(/fonts/FreightSans/FreightSansComp-SemiBoldItalic.woff2);
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-compressed;
  src: url(/fonts/FreightSans/FreightSansComp-SemiBold.woff2);
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-compressed;
  src: url(/fonts/FreightSans/FreightSansComp-ThinItalic.woff2);
  font-weight: 100;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-compressed;
  src: url(/fonts/FreightSans/FreightSansComp-Thin.woff2);
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-compressed;
  src: url(/fonts/FreightSans/FreightSansComp-UltraBlackItalic.woff2);
  font-weight: 950;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-compressed;
  src: url(/fonts/FreightSans/FreightSansComp-Ultrablack.woff2);
  font-weight: 950;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-condensed;
  src: url(/fonts/FreightSans/FreightSansCond-BlackItalic.woff2);
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-condensed;
  src: url(/fonts/FreightSans/FreightSansCond-Black.woff2);
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-condensed;
  src: url(/fonts/FreightSans/FreightSansCond-BoldItalic.woff2);
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-condensed;
  src: url(/fonts/FreightSans/FreightSansCond-Bold.woff2);
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-condensed;
  src: url(/fonts/FreightSans/FreightSansCond-BookItalic.woff2);
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-condensed;
  src: url(/fonts/FreightSans/FreightSansCond-Book.woff2);
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-condensed;
  src: url(/fonts/FreightSans/FreightSansCond-ExtraLightItalic.woff2);
  font-weight: 200;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-condensed;
  src: url(/fonts/FreightSans/FreightSansCond-Extralight.woff2);
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-condensed;
  src: url(/fonts/FreightSans/FreightSansCond-HairlineItalic.woff2);
  font-weight: 50;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-condensed;
  src: url(/fonts/FreightSans/FreightSansCond-Hairline.woff2);
  font-weight: 50;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-condensed;
  src: url(/fonts/FreightSans/FreightSansCond-LightItalic.woff2);
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-condensed;
  src: url(/fonts/FreightSans/FreightSansCond-Light.woff2);
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-condensed;
  src: url(/fonts/FreightSans/FreightSansCond-MediumItalic.woff2);
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-condensed;
  src: url(/fonts/FreightSans/FreightSansCond-Medium.woff2);
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-condensed;
  src: url(/fonts/FreightSans/FreightSansCond-SemiBoldItalic.woff2);
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-condensed;
  src: url(/fonts/FreightSans/FreightSansCond-SemiBold.woff2);
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-condensed;
  src: url(/fonts/FreightSans/FreightSansCond-ThinItalic.woff2);
  font-weight: 100;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-condensed;
  src: url(/fonts/FreightSans/FreightSansCond-Thin.woff2);
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-condensed;
  src: url(/fonts/FreightSans/FreightSansCond-UltraBlackItalic.woff2);
  font-weight: 950;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans-condensed;
  src: url(/fonts/FreightSans/FreightSansCond-Ultrablack.woff2);
  font-weight: 950;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans;
  src: url(/fonts/FreightSans/FreightSans-ExtraLightItalic.woff2);
  font-weight: 200;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans;
  src: url(/fonts/FreightSans/FreightSans-Extralight.woff2);
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans;
  src: url(/fonts/FreightSans/FreightSans-HairlineItalic.woff2);
  font-weight: 50;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans;
  src: url(/fonts/FreightSans/FreightSans-Hairline.woff2);
  font-weight: 50;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans;
  src: url(/fonts/FreightSans/FreightSans-LightItalic.woff2);
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans;
  src: url(/fonts/FreightSans/FreightSans-Light.woff2);
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans;
  src: url(/fonts/FreightSans/FreightSans-MediumItalic.woff2);
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans;
  src: url(/fonts/FreightSans/FreightSans-Medium.woff2);
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans;
  src: url(/fonts/FreightSans/FreightSans-SemiBoldItalic.woff2);
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans;
  src: url(/fonts/FreightSans/FreightSans-SemiBold.woff2);
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans;
  src: url(/fonts/FreightSans/FreightSans-ThinItalic.woff2);
  font-weight: 100;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans;
  src: url(/fonts/FreightSans/FreightSans-Thin.woff2);
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans;
  src: url(/fonts/FreightSans/FreightSans-UltraBlackItalic.woff2);
  font-weight: 950;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-sans;
  src: url(/fonts/FreightSans/FreightSans-Ultrablack.woff2);
  font-weight: 950;
  font-style: normal;
  font-stretch: normal;
}
