@font-face {
  font-family: freight-big;
  src: url(/fonts/FreightBig/FreightBig-BlackItalic.woff2);
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-big;
  src: url(/fonts/FreightBig/FreightBig-Black.woff2);
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-big;
  src: url(/fonts/FreightBig/FreightBig-BoldItalic.woff2);
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-big;
  src: url(/fonts/FreightBig/FreightBig-Bold.woff2);
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-big;
  src: url(/fonts/FreightBig/FreightBig-BookItalic.woff2);
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-big;
  src: url(/fonts/FreightBig/FreightBig-Book.woff2);
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-big-compressed;
  src: url(/fonts/FreightBig/FreightBigComp-BlackItalic.woff2);
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-big-compressed;
  src: url(/fonts/FreightBig/FreightBigComp-Black.woff2);
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-big-compressed;
  src: url(/fonts/FreightBig/FreightBigComp-BoldItalic.woff2);
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-big-compressed;
  src: url(/fonts/FreightBig/FreightBigComp-Bold.woff2);
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-big-compressed;
  src: url(/fonts/FreightBig/FreightBigComp-BookItalic.woff2);
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-big-compressed;
  src: url(/fonts/FreightBig/FreightBigComp-Book.woff2);
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-big-compressed;
  src: url(/fonts/FreightBig/FreightBigComp-LightItalic.woff2);
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-big-compressed;
  src: url(/fonts/FreightBig/FreightBigComp-Light.woff2);
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-big-compressed;
  src: url(/fonts/FreightBig/FreightBigComp-MediumItalic.woff2);
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-big-compressed;
  src: url(/fonts/FreightBig/FreightBigComp-Medium.woff2);
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-big-compressed;
  src: url(/fonts/FreightBig/FreightBigComp-SemiBoldItalic.woff2);
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-big-compressed;
  src: url(/fonts/FreightBig/FreightBigComp-SemiBold.woff2);
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-big;
  src: url(/fonts/FreightBig/FreightBig-LightItalic.woff2);
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-big;
  src: url(/fonts/FreightBig/FreightBig-Light.woff2);
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-big;
  src: url(/fonts/FreightBig/FreightBig-MediumItalic.woff2);
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-big;
  src: url(/fonts/FreightBig/FreightBig-Medium.woff2);
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-big;
  src: url(/fonts/FreightBig/FreightBig-SemiBoldItalic.woff2);
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-big;
  src: url(/fonts/FreightBig/FreightBig-SemiBold.woff2);
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}
