@font-face {
  font-family: freight-macro;
  src: url(/fonts/FreightMacro/FreightMacro-BlackItalic.woff2);
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-macro;
  src: url(/fonts/FreightMacro/FreightMacro-Black.woff2);
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-macro;
  src: url(/fonts/FreightMacro/FreightMacro-BoldItalic.woff2);
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-macro;
  src: url(/fonts/FreightMacro/FreightMacro-Bold.woff2);
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-macro;
  src: url(/fonts/FreightMacro/FreightMacro-BookItalic.woff2);
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-macro;
  src: url(/fonts/FreightMacro/FreightMacro-Book.woff2);
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-macro;
  src: url(/fonts/FreightMacro/FreightMacro-LightItalic.woff2);
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-macro;
  src: url(/fonts/FreightMacro/FreightMacro-Light.woff2);
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-macro;
  src: url(/fonts/FreightMacro/FreightMacro-MediumItalic.woff2);
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-macro;
  src: url(/fonts/FreightMacro/FreightMacro-Medium.woff2);
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: freight-macro;
  src: url(/fonts/FreightMacro/FreightMacro-SemiBoldItalic.woff2);
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: freight-macro;
  src: url(/fonts/FreightMacro/FreightMacro-SemiBold.woff2);
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}
